@font-face {
    font-family: "SFProDisplay-Bold";
    font-weight: 700;
    src: url('../font/SFProDisplay-Bold.ttf');
}

@font-face {
    font-family: "SFProDisplay-Regular";
    font-weight: 400;
    src: url('../font/SFProDisplay-Regular.ttf');
}